.material-symbols-outlined {
  color: black;
  font-size: 30px;
  vertical-align: -2px;
}
.phoneLineHeight {
  vertical-align: super;
  color: black;
}
.container a {
  text-decoration-color: black;
}
