* {
  font-family: "Montserrat", sans-serif;
  --primary-color: #292929;
  --secondary-color: #ffffff;
  --tertiary-color: #39b54a;
  --action-color: #e65f5c;
  --accent-color: #0077be;
}

body {
  background-image: url(/public/Images/choice2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='green' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.primaryBackgroundColor {
  background-color: var(--primary-color);
  /* background-color: tan; */

  padding: 0;
  margin: 0;
}
.navbar-toggler {
  /* position: absolute; */
  margin-left: 15px;
  /* right: 25px !important; */
  background-color: var(--action-color);
}
.navbar-toggler:focus {
  box-shadow: 0px 0px 10px rgb(27, 182, 163);
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
}
/* 950px and up will be designed for desktop */
@media only screen and (min-width: 950px) {
  body {
    background-image: url(/public/Images/choice2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 480px) {
  body {
    background-image: url(/public/Images/mobile1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
