* {
  font-family: "Montserrat", sans-serif;
  
  --primary-color: rgb(219, 210, 188);
  /* Primary color is the background, which should technically be the majority */
  --secondary-color: #1b160a;
  /* Secondary is the "main" color aside from white. I think blackish would be good */
  --tertiary-color: rgb(26, 130, 21);
  /* This is the 3rd color, it will just accent the other 2 mains and bring them together */
  --action-color: rgb(108, 34, 34);
  /* Everything that can be clicked on will be this color*/
  
}

body {
  background-image: url(/public/Images/choice2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='green' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.primaryBackgroundColor {
  /* background-color: var(--primary-color); */
  background-color: tan;

  padding: 0;
  margin: 0;
}
.navbar-toggler {
  /* position: absolute; */
  margin-left: 15px;
  /* right: 25px !important; */
  background-color: var(--action-color);
}
.navbar-toggler:focus {
  box-shadow: 0px 0px 10px rgb(27, 182, 163);
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
}
/* 950px and up will be designed for desktop */
@media only screen and (min-width: 950px) {
  body {
    background-image: url(/public/Images/choice2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 500px) {
  body {
    background-image: url(/public/Images/mobile1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 480px) {
  .container-fluid {
    display: block !important;
    --bs-gutter-x: 0rem;
  }
  .theToggler button {
    width: 100%;
  }

  .navbar-toggler {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .container {
    width: auto;
  }
  .edinaLogo {
    margin-left: 10px;
  }
  .emailAndPhoneSizing:first-child {
    padding-bottom: 0;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
