.desktopOnOrOff a {
  /* color: whitesmoke; */
  padding: 10px 30px;
  font-size: larger;
  color:var(--action-color);
  /* color:var(--action-color); */
  /* background-color: var(--secondary-color) ; */
  background-color: var(--primary-color) ;

  /* outline: 1px solid rgb(27, 182, 163); */
  /* border: 1px solid rgb(27, 182, 163); */
  border: 1px solid var(--action-color);

  border-radius: 10px;
  outline: none;
  margin: 5px;
  display: flex;
  align-items: center;
}

.navbar a:focus{
  transition: .5s;
  box-shadow: 0px 0px 145px inset rgba(255,255,255,.8);
  /* text-shadow:-5px -15px 0px rgba(192, 62, 62,.5), 5px 15px 0px rgba(192, 62, 62,.5); */
}
.desktopOnOrOff .dropdown-menu a {
  border: 0px solid green !important;
  margin: 0;
  text-decoration: none;
  outline: none;
  background:none;
  /* Change this back if I want BG color for tabs */
}
.desktopOnOrOff .dropdown-menu a:not(:first-of-type a) {
  /* padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x); */
}
.desktopOnOrOff .dropdown-menu a:hover {
  color: rgb(27, 182, 163); 
  /* I don't think I need this anymore, it affects the Listings hover tab */
  
}
.dropdown-menu[data-bs-popper] {
  margin-top: 0;
  --bs-dropdown-link-active-bg: "";
  padding-top: 0;
  --bs-dropdown-divider-bg: "";
}
.desktopListings {
  color: black !important;
}
.dropdown .btn {
  background-color: var(--primary-color);
  border-radius: none !important;
}
/* .dropdown-item targets the nav bar links that drop down */
.dropdown-item {
  /* color: hotpink !important; */
  color: var(--action-color) !important;

}
.dropdown-item:hover {
  color: rgb(27, 182, 163);
  background: none;
  font-weight: initial !important;
}
.nav {
  /* --bs-nav-link-hover-color: rgb(36, 107, 45); */
  /* --bs-nav-link-hover-color: var(--tertiary-color); */
  --bs-nav-link-hover-color: var(--action-color);
  


  display: flex;
  flex-wrap: nowrap;
}
.nav-link:hover {
  background-color: rgba(255,255,255,.8) !important;
}
.navbar a:hover:not(.dropdown-menu, .container a) {
  color: var(--action-color);
  border: 1px solid #a3dc95;
  box-shadow: 0px 0px 3px rgb(210, 205, 192);
  text-shadow:0px 0px 1px black;

}
.navbar a:active {
  background-color: rgba(255,255,255,.8);
  
  
}


@media only screen and (max-width: 1200px) {
  .desktopOnOrOff a {
    font-size: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .desktopOnOrOff a {
    font-size: 90%;
  }
}

@media only screen and (max-width: 950px) {
  .desktopOnOrOff a {
    padding: 12px 20px;
  }
}
@media only screen and (max-width: 800px) {
  .desktopOnOrOff a {
    font-size: 75%;
  }
}

@media only screen and (max-width: 750px) {
  .navbar > .container-fluid {
    display: inline-flex;

  }
  .navbar-toggler {
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .coldAndPro {
    /* justify-content: center !important; */
  }
  .desktopOnOrOff a {
    font-size: 70%;
  }
  .desktopOnOrOff {
    width: 100%;
    display:none;
  }
  .mobileOnOrOff {
    display: "";
  }
}

@media only screen and (max-width: 630px) {
  .mobileOnOrOff {
    display: "";
  }
  .desktopOnOrOff {
    display: none;

  }
}


@media only screen and (max-width: 480px) {

  .navbar {
    flex-wrap:wrap;

  }

      .theToggler button {
    width: 100%;
  }

  .navbar-toggler {
    position: absolute;
    left:0;
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
   
  }
  .container {
    width: auto;
  }
  .edinaLogo {
    margin-left: 10px;
  }
  .emailAndPhoneSizing:first-child {
    padding-bottom: 0;
    
  }
}


@media only screen and (max-width: 400px) {
  .emailAndPhoneSizing,
  .material-symbols-outlined {
    font-size: 15px;
  }
}
@media only screen and (max-width: 400px) {
  .material-symbols-outlined {
    font-size: 15px !important;
  }
}

.dropdown-toggle::after {
  content: unset;
}

.lessen {
  font-size: 15px;
  position: absolute;
  right: 15px;
  opacity: 0.6;
  transform: rotate(180deg);
}
.dropdown-menu li:hover .lessen {
  opacity: 1;
  transform: rotate(360deg);
  transition: 0.1s;
}



@media only screen and (min-width: 751px) {
  .mobileOnOrOff {
    display: none;
  }
}

