.desktopOnOrOff a {
  color: white;
  padding: 10px 30px;
  font-size: larger;
  outline: 1px solid rgb(27, 182, 163);
  border: 0px solid rgb(27, 182, 163);
  border-radius: 5px;
  outline: none;
  border: none;
  border-radius: none;
  margin: 5px;
  display: flex;
  align-items: center;
}
.desktopOnOrOff .dropdown-menu a {
  color: black;
  border: 0px solid green;
  margin: 0;
  outline: none;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
}
.desktopOnOrOff .dropdown-menu a:hover {
  color: rgb(27, 182, 163);
}
.dropdown-menu[data-bs-popper] {
  margin-top: 0;
}
.desktopListings {
  color: black !important;
}
.dropdown .btn {
  border-radius: none !important;
}
.desktopOnOrOff a {
  border-left: 1px solid rgb(27, 182, 163);
}

@media only screen and (max-width: 1200px) {
  .desktopOnOrOff a {
    font-size: 100%;
  }
}
@media only screen and (max-width: 1050px) {
  .desktopOnOrOff a {
    font-size: 75%;
  }
}

@media only screen and (max-width: 950px) {
  .desktopOnOrOff a {
    padding: 12px 20px;
  }
}
@media only screen and (max-width: 825px) {
  .desktopOnOrOff a {
    font-size: 65%;
  }
}
@media only screen and (max-width: 825px) {
  .desktopOnOrOff a {
    font-size: 55%;
  }

  .desktopOnOrOff a {
    font-size: 65%;
  }
}
@media only screen and (max-width: 784px) {
  .navbar > .container-fluid {
    display: block;
    width: 100%;
  }
  .coldAndPro {
    justify-content: center !important;
  }
  .desktopOnOrOff a {
    font-size: 70%;
  }
  .desktopOnOrOff {
    width: 100%;
  }
}

.dropdown-toggle::after {
  content: unset;
}

.dropdown .btn {
  background-color: #09355f;
}
