.coldAndPro {
  display: flex;
  align-items: center;
}

.offcanvas-bottom {
  --bs-offcanvas-height: 60vh;
}
.offcanvas {
  text-align: center;
}

/* .mobileOnOrOff {
    
}

.desktopOnOrOff{

} */
@media only screen and (min-width: 500px) {
    .mobileOnOrOff {    
        display:none !important;
    }
    .desktopOnOrOff {
        display: "" !important;
    }
}

@media only screen and (max-width: 500px) {
     .mobileOnOrOff {
        display: "" !important;
    }
    .desktopOnOrOff {
        display:none !important;

    }
}