.coldAndPro {
  display: flex;
  align-items: center;
  /* padding: 15px 0px; */
}
.bannerHardlyKnower {
  background-color: rgb(7, 111, 63) !important;
  /* background-color: var(--tertiary-color) !important; */
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
}
.offcanvas-bottom {
  --bs-offcanvas-height: 60vh;
}
.offcanvas-body a:hover,
.navbar-nav .nav-link:hover {
  color: rgb(27, 182, 163);
  font-weight: bold;
}
.offcanvas {
  text-align: center;
}
.desktopOnOrOff {
  width: 100%;
  /* margin-top:10px;
  margin-bottom:10px; */
}

/* .navbar-toggler {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
} */
