.coldAndPro {
  display: flex;
  align-items: center;
}

.offcanvas-bottom {
  --bs-offcanvas-height: 60vh;
}
.offcanvas {
  text-align: center;
}
.desktopOnOrOff {
  width: 90%;
}

/* .navbar-toggler {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
} */

@media only screen and (min-width: 630px) {
  .mobileOnOrOff {
    display: none;
  }
  .desktopOnOrOff {
    display: "";
  }
}

@media only screen and (max-width: 630px) {
  .mobileOnOrOff {
    display: "";
  }
  .desktopOnOrOff {
    display: none;
  }
  .navbar-toggler {
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 15px;
    margin-left: 15px;
  }
}
